/* Default */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

:root {
  --max-width: 1081px;
  --color-100: #70757a;
  --color-200: #202124;
  --color-300: #5f6368;
  --color-400: #ebebeb;
  --color-500: #1a0dab;
  --color-600: #f1f3f4;
  --color-700: #4d5156;
}

.container {
  width: 95%;
  max-width: var(--max-width);
  margin: 0 auto;
}

.see_more {
  width: 300px;
  height: 36px;
  margin: 1.3rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #f1f3f4;
  color: var(--color-200);
  font-size: 14px;
  border-radius: 18px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* body styling */
header {
  width: 100%;
  padding: 0.8rem 0;
  position: fixed;
  top: 0px;
  z-index: 100;
  background-color: #fff;
}

header > nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
}

header .logo__search_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 70%;
  gap: 3rem;
  margin-top: 20px;
}

header > nav figure > img {
  width: 92px;
  height: 30px;
  cursor: pointer;
}

header .search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  max-width: 690px;
  height: 44px;
  border: 1px solid transparent;
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
  border-radius: 24px;
  padding: 0 20px;
}

header .search-input {
  height: 90%;
  border: none;
  outline: none;
  padding-left: 20px;
  box-sizing: border-box;
}

header .search-icon-container {
  display: flex;
  align-items: center;
}

header .search-icon {
  margin-left: 20px;
  cursor: pointer;
}

header .setting-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
}

.setting-box span:last-of-type img {
  display: inline-block;
  border-radius: 50%;
}

/* main */
main {
  width: 100%;
  margin-top: 6.3rem;
}

/* tab section */
#tab-section {
  border-bottom: 1px solid #ebebeb;
  margin-top: -10px;
}

.tab-container {
  width: 100%;
  max-width: 652px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16rem;
  margin-left: -30px;
}

.tab-container .main-tabs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.3rem;
}

.main-tabs button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.4rem;
  background: inherit;
  border: none;
  padding: 1rem 0;
  box-sizing: border-box;
  color: #5f6368;
  font-size: 14px;
  font-family: "Google Sans", arial, sans-serif;
}

.main-tabs button:first-of-type {
  border-bottom: 3px solid #1a73e8;
  color: #1a73e8;
}

.main-tabs button svg {
  width: 15px;
  height: 15px;
  fill: #5f6368;
}

.tab-container > button {
  border: none;
  color: #5f6368;
  background-color: inherit;
  cursor: pointer;
  font-size: 14px;
}

/* name_intro section */

#name_intro_section {
  background-image: linear-gradient(#fff, rgba(63, 55, 79, 0.1));
}

.search_figures {
  color: var(--color-100);
  line-height: 43px;
  font-size: 14px;
  margin-bottom: 20px;
}

.name_tabs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  margin-bottom: 26px;
}

.name_tabs .name h1 {
  color: var(--color-200);
  font-size: 28px;
  margin-bottom: 8px;
}

.name_tabs .name p {
  color: var(--color-300);
  font-size: 14px;
}

.name_tabs .tabs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: row wrap;
  gap: 1rem;
}

.name_tabs .tabs button {
  border: none;
  background-color: #e7e7ea;
  color: black;
  width: 98px;
  height: 38px;
  border-radius: 100px;
  box-sizing: border-box;
}

.name_tabs .tabs button:first-of-type {
  border: 1px solid var(--color-200);
  transform: scale(1.2);
}

.intro_images {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: row wrap;
  gap: 24px;
}

.intro_images .group_one {
  width: 90%;
  max-width: 550px;
  /* margin: 0 auto; */
  display: grid;
  grid-template-columns: 50% 50%;
  place-items: center;
  gap: 2px;
  border-radius: 10px;
}

.intro_images .group_one figure {
  width: 100%;
  max-width: 271px;
  height: 152px;
  border-radius: 10px;
}

.intro_images .group_one figure img {
  display: inline-block;
  width: 100%;
  height: 100%;
  max-width: 271px;
  max-height: 152px;
  object-fit: cover;
}

.intro_images .group_one figure:first-of-type img {
  border-top-left-radius: 20px;
}

.intro_images .group_one figure:nth-of-type(2) img {
  border-top-right-radius: 20px;
}

.intro_images .group_one figure:nth-of-type(3) img {
  border-bottom-left-radius: 20px;
}

.intro_images .group_one figure:last-of-type img {
  border-bottom-right-radius: 20px;
}

.intro_images .group_two {
  width: 100%;
  max-width: 244px;
  border-radius: 10px;
  background-color: #fff;
}

.intro_images .group_two figure {
  width: 100%;
}

.intro_images .group_two figure img {
  width: 100%;
  max-width: 244px;
  max-height: 136px;
  object-fit: cover;
}
.intro_images .group_two figure img {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.intro_images .group_two .texts {
  padding: 14px;
  box-sizing: border-box;
}

.intro_images .group_two .texts .one {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 7px;
  margin-bottom: 1rem;
}

.intro_images .group_two .texts .one span {
  color: var(--color-100);
  font-size: 12px;
}

.intro_images .group_two .texts .two {
  color: var(--color-100);
}

.intro_images .group_two .texts .two h3 {
  font-size: 14px;
  margin-bottom: 4px;
}

.intro_images .group_two .texts .two p {
  font-size: 12px;
}

.intro_images .group_two .texts .two span {
  display: inline-block;
  font-size: 12px;
  margin-top: 2rem;
}

.intro_images .group_three {
  width: 100%;
  max-width: 230px;
}

.intro_images .group_three .top {
  width: 100%;
}

.intro_images .group_three .top {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 1rem;
}

.intro_images .group_three .top > div {
  background-color: rgba(63, 55, 79, 0.1);
  padding: 12px;
  width: 100%;
  max-width: 116px;
  height: 141px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 30px;
}

.intro_images .group_three .top > div:last-of-type p:last-of-type {
  font-size: 13px;
}

.intro_images .group_three .bottom {
  width: 100%;
  max-width: 250px;
  height: 141px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  background-color: #fff;
  border-radius: 20px;
}

.intro_images .group_three .bottom .texts {
  width: 50%;
  color: var(--color-100);
}

.intro_images .group_three .bottom .texts div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 5px;
}

.intro_images .group_three .bottom .texts div span {
  font-size: 12px;
}

.intro_images .group_three .bottom .texts p {
  margin-bottom: 10px;
}

.intro_images .group_three .bottom .texts span {
  font-size: 12px;
}

.intro_images .group_three .bottom > img {
  width: 40%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

/* top stories & about section */

#top_stories_about .container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: row wrap;
  gap: 60px;
  padding: 3rem 0 0;
}

#top_stories_about .container .top_stories {
  width: 100%;
  max-width: 652px;
  min-height: 400px;
  border-right: 1px solid var(--color-200);
}

#top_stories_about .container .about {
  width: 100%;
  max-width: 336px;
  min-height: 400px;
  border-left: 1px solid var(--color-400);
}

.top_stories > h1 {
  font-size: 25px;
  color: var(--color-200);
  margin-bottom: 5px;
}

.top_stories > h2 {
  font-size: 18px;
  color: var(--color-200);
  margin-bottom: 1rem;
}

.top_news {
  border-top: 1px solid var(--color-400);
  padding: 1rem 0 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.top_news .left,
.top_news .right {
  width: 50%;
  min-height: 300px;
  box-sizing: border-box;
}

.top_news .left {
  padding: 0 12px 12px 0;
}

.top_news .right {
  padding: 0 0 12px 12px;
}

.news_box {
  width: 100%;
  max-width: 313px;
  min-height: 143px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
  padding: 10px 0;
  border-bottom: 1px solid var(--color-400);
  box-sizing: border-box;
}

.news_box .texts {
  width: 80%;
  color: var(--color-100);
}

.news_box .texts figure {
  margin-bottom: 5px;
}

.news_box .texts a {
  display: inline-block;
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.news_box span {
  font-size: 14px;
}

.news_box > img {
  width: 100px;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
}

.people_ask {
  margin-top: 3rem;
}

.people_ask > h2 {
  font-size: 1.5rem;
  color: var(--color-200);
  margin-bottom: 1rem;
}

.people_ask > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  color: var(--color-200);
  border-top: 1px solid var(--color-400);
  box-sizing: border-box;
}

.people_ask > div span {
  font-size: 1rem;
}

.platform_stories {
  border: 1px solid black;
  margin-top: 2.5rem;
}

.platform_stories .stories {
  margin-bottom: 2rem;
}

.platform_stories .stories .source_address {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  color: var(--color-100);
  margin-bottom: 5px;
}

.platform_stories .stories .main_link {
  display: inline-block;
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.platform_stories .stories p {
  color: var(--color-100);
}

.news_videos {
  border: 1px solid black;
}

.news_videos > h2 {
  color: var(--color-200);
  font-size: 22px;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.video_news {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  padding: 10px 0;
  border-bottom: 1px solid var(--color-400);
}

.video_news img {
  width: 124px;
  height: 70px;
  border-radius: 5px;
  object-fit: cover;
}

.video_texts a {
  display: block;
  color: var(--color-500);
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.video_texts p {
  color: var(--color-200);
  font-size: 14px;
  margin-bottom: 2px;
}

.video_texts p > span {
  color: var(--color-100);
  font-size: 14px;
}

.video_texts > span {
  color: var(--color-200);
  font-size: 14px;
}

.related_searches {
  border: 1px solid black;
}

.related_searches > h2 {
  color: var(--color-200);
  font-size: 22px;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.related_searches .dropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  color: var(--color-200);
  border-top: 1px solid var(--color-400);
  box-sizing: border-box;
}

.related_searches .dropdown span {
  font-size: 1.2rem;
}

.related_searches .pictures {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

@media (max-width: 600px) {
  .related_searches .pictures {
    flex-flow: row wrap;
  }
}

.related_searches .pictures figure {
  width: 102px;
}

.related_searches .pictures figure img {
  width: 102px;
  height: 102px;
  border-radius: 5px;
  object-fit: cover;
}

.related_searches .pictures figure figcaption {
  padding-left: 5px;
}

.search_suggestions {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  flex-flow: row wrap;
}

.search_suggestions .suggestion {
  width: 100%;
  max-width: 318px;
  height: 48px;
  padding-left: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  background-color: #f1f3f4;
  color: var(--color-200);
  font-size: 16px;
  font-weight: 700;
  border-radius: 100px;
}

/* about */
.about > header h2 {
  font-size: 1.2rem;
  color: var(--color-200);
}

.bio {
  padding: 1rem 0;
}

.about .bio p {
  font-size: 14px;
  color: var(--color-700);
  line-height: 22px;
}
